header {
    background-image: linear-gradient(
        to bottom,
        white,
        rgba(255, 255, 255, 0.7)
    );
}

footer {
    background-image: linear-gradient(
        to top,
        white,
        rgba(255, 255, 255, 0.7)
    );
}

#header-links *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#title {
    color: black;
}

body {
    background-image: linear-gradient(
        0deg,
        rgb(172, 59, 172),
        pink,
        skyblue,
        rgb(255, 156, 120)
    );

    color: black;
}

.card, .project-card {
    background-image: linear-gradient(
        45deg,
        transparent,
        cyan,
        pink,
        white
    );
}

.img-with-label p {
    background-color: black;
    color: white;
}

.btn {
    background-color: rgba(255, 255, 255, 0.4);
}

.btn * {
    color: black;
}