@media screen and (min-width: 1600px) {
    p,
    .info-box,
    .card,
    header
    {
        font-size: 2em;
    }
}

@media screen and (max-width: 770px) {
    p,
    .info-box,
    .card,
    header
    {
        font-size: 2em;
    }

    #theme-form * {
        font-size: 1em;
    }

    #burger {
        display: block;
    }

    #burger-links {
        height: fit-content;
    }

    #header-links {
        display: none;
    }

    header {
        justify-content: space-between;
    }
} 