@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
}

/* === HEADER === */

header {
    font-family: 'JetBrains Mono';
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    user-select: none;
}

header a {
    text-decoration: none;
}

#theme-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

#theme-form * {
    width: 100%;
    border-width: 0;
    border-radius: 1em;
    height: 1.5em;
    font-family: 'JetBrains Mono';
    font-weight: bold;

    transition-property: background-color;
    transition-duration: 0.5s;
}

#title {
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

#header-links * {
    padding: 1em 2em;
    margin: 0;
    width: 10%;
    border-radius: 2em;

    transition-property: background-color;
    transition-duration: 0.5s;
}

#burger-menu {
    display: none;
    width: fit-content;
    height: 0;
    box-sizing: border-box;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

#burger-links {
    display: none;
}

/* === CARDS === */

#skills-container, #tools-container, #projects-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'JetBrains Mono';
    font-weight: bold;
    margin: auto;
    padding-top: 2em;
}

.card, .project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2em;
    height: 10em;
    width: 10em;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);

    transition: transform 0.5s;
}

.card:hover {
    transform: rotate(5deg) translateY(-10%);
}

.card * {
    margin: 0.5em;
}

.card img {
    width: 5em;
}

.skill-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.skill-container img {
    width: 1.5em;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
    margin: 0;
    align-items: center;
}

.project-card {
    width: 15em;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card img {
    width: 80%;
    border-radius: 1em;
}

.project-card a:hover {
    text-decoration: underline;
}

.project-card .lang {
    width: 2em;
    border-radius: 0;
}

/* === GENERAL === */

p {
    font-family: 'Roboto Mono';
}

h1 {
    font-size: 3em;
}

h1, h2 {
    font-family: 'JetBrains Mono';
}

.hashtag {
    color: rgba(0, 0, 0, 0.4);
}

article {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 10%;
    border-bottom: 3px double rgba(0, 0, 0, 0.2);
}

article a {
    text-decoration: none;
    font-weight: bold;
}

.article {
    display: flex;
    flex-direction: row;
}

.article p {
    margin: 0.5em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    line-height: 1.5em;
}

.img-with-label {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.img-with-label p {
    justify-content: center;
    width: fit-content;
    padding: 0.1em 0.6em;
    z-index: -1;
    margin-top: 1em;
}

.img-with-label img {
    height: 11em;
    margin-left: 1em;
    border-radius: 100px 100px 100px 0;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.info-box {
    margin: 1em;
    display: flex;
    flex-direction: row;
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
}

.info-box .info-icon {
    padding: 2em;
    width: 1.5em;
    height: 1.5em;
    opacity: 50%;
    align-self: center;
}

.info-box div {
    flex-direction: column;
    padding: 1em;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(0, 0, 0, 0.8);
}

.info-box .skill-container {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    font-family: 'Roboto Mono';
}